<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <!-- Bootstrap CSS -->
    <link href="/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/link">Liên kết</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/disabled">Tính năng bị vô hiệu hóa</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <!-- Kiểm tra xem session có thông tin đăng nhập hay không -->
                <th:block th:if="${session['loggedInUsername'] != null}">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <th:block th:text="${session['loggedInUsername']}">Tên người dùng</th:block>
                            <img th:src="${session['loggedInUserAvatar']}" class="avatar rounded-circle" alt="Avatar" style="width: 30px; height: 30px;">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/account/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </th:block>
                <th:block th:unless="${session['loggedInUsername'] != null}">
                    <li class="nav-item">
                        <a class="nav-link" href="account/login">Login</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>


<!-- Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
