<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookBuddy</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" rel="stylesheet">
    <style>
 		.navbar-brand {
            font-size: 2rem;
            font-weight: bold;
        }

        .navbar-brand span {
            color: #4285F4;
        }

        .navbar-brand span:nth-child(2) {
            color: #DB4437;
        }        .navbar-brand {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .nav-link {
            font-size: 1.2rem;
        }

        .navbar-text {
            font-size: 1.2rem;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><span>Book</span><span>Buddy</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="bi bi-house-door"></i> Trang chủ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/link">
                        <i class="bi bi-link-45deg"></i> Liên kết
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/disabled">
                        <i class="bi bi-archive"></i> Tính năng bị vô hiệu hóa
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <th:block th:if="${session['loggedInUsername'] != null}">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <th:block th:text="${session['loggedInUsername']}">Tên người dùng</th:block>
                            <img th:src="${session['loggedInUserAvatar']}" class="avatar rounded-circle" alt="Avatar" style="width: 30px; height: 30px;">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/account/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </th:block>
                <th:block th:unless="${session['loggedInUsername'] != null}">
                    <li class="nav-item">
						<a class="nav-link" href="/account/login">
                            <i class="bi bi-box-arrow-in-right"></i> Login
                        </a>
                    </li>
                </th:block>
                <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">
                            <span class="navbar-text"><i class="bi bi-gear"></i> Admin</span>
                        </a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>


<!-- Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
