<main>
    <div class="b-example-divider"></div>
    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <a href="/admin/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <i class="bi bi-speedometer2 me-2"></i>
            <span class="fs-5 fw-semibold">Dashboard</span>
        </a>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                    <i class="bi bi-house-door me-2"></i>
                    Home
                </button>
                <div class="collapse" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Overview</a></li>
                        <li><a href="#" class="link-dark rounded">Updates</a></li>
                        <li><a href="#" class="link-dark rounded">Reports</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <i class="bi bi-bar-chart-fill me-2"></i>
                    Dashboard
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Overview</a></li>
                        <li><a href="#" class="link-dark rounded">Weekly</a></li>
                        <li><a href="#" class="link-dark rounded">Monthly</a></li>
                        <li><a href="#" class="link-dark rounded">Annually</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#books-collapse" aria-expanded="false">
                    <i class="bi bi-book-fill me-2"></i>
                    Books
                </button>
                <div class="collapse" id="books-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/admin/books/" class="link-dark rounded">List</a></li>
                        <li><a href="/admin/books/add" class="link-dark rounded">Add</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
			    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#authors-collapse" aria-expanded="false">
			        <i class="bi bi-person-fill me-2"></i>
			        Authors
			    </button>
			    <div class="collapse" id="authors-collapse">
			        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
			            <li><a href="/admin/authors/" class="link-dark rounded">List</a></li>
			            <li><a href="/admin/authors/add" class="link-dark rounded">Add</a></li>
			        </ul>
			    </div>
			</li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#users-collapse" aria-expanded="false">
                    <i class="bi bi-people-fill me-2"></i>
                    Users
                </button>
                <div class="collapse" id="users-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/admin/users/" class="link-dark rounded">List</a></li>
                        <li><a href="/admin/users/add" class="link-dark rounded">Add</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</main>
