<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" type="text/css">
    
    <!-- Custom CSS -->
    <style>
        .container-custom {
            border: 1px solid #dee2e6;
            border-radius: 10px;
            padding: 20px;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<th:block th:replace="~{/fragments/user_navbar :: nav}" ></th:block>
<div class="container container-custom">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Login</h2>
            <form th:action="@{/account/login}" method="post">
    			<div th:if="${errorMessage}" class="alert alert-danger">
        			<p th:text="${errorMessage}"></p>
    			</div>
    			<div th:if="${successMessage}" class="alert alert-success">
        			<p th:text="${successMessage}"></p>
    			</div>
    			<div class="mb-3">
        			<label>Email:</label>
        			<input type="text" class="form-control" name="email" required>
    			</div>
    			<div class="mb-3">
        			<label>Password:</label>
        			<div class="input-group">
            		<input type="password" class="form-control" name="password" id="password" required>
            		<button type="button" class="btn btn-outline-secondary" id="togglePassword">
                		<i class="bi bi-eye-slash"></i>
            		</button>
            	</div>
    		</div>
    			<!-- CSRF Token -->
    			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    			<button type="submit" class="btn btn-primary">Login</button>
    			<a th:href="@{/account/forgot-password}" class="btn btn-link">Forgot Password?</a> 
    			<a th:href="@{/account/register}" class="btn btn-link">Don't have an account? Register</a>
			</form>
    	</div>
	</div>
</div>
<script>
    const togglePassword = document.getElementById('togglePassword');
    const password = document.getElementById('password');

    togglePassword.addEventListener('click', function () {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.querySelector('i').classList.toggle('bi-eye');
        this.querySelector('i').classList.toggle('bi-eye-slash');
    });
</script>

<script src="/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
