<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .avatar-container {
            display: flex;
            align-items: center;
            justify-content:center;
        }
        
        .avatar-container img,
        .avatar-arrow {
            width: 150px;
            height: 150px;
        }
        .avatar-arrow {
            width: 50px;
            height: 50px;
            cursor: pointer;
            margin: 2vw;
        }
    </style>
</head>
<body>
<th:block th:replace="~{/fragments/user_navbar :: nav}" ></th:block>

<div class="container mt-4">
    <form action="/account/profile" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" th:value="${user.email}" readonly>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" th:value="${user.username}">
        </div>
        <div class="mb-3">
            <label for="avatarFile" class="form-label">Avatar</label>
            <input type="file" class="form-control" id="avatarFile" name="avatarFile" onchange="previewAvatar(event)">
        </div>
        <div class="avatar-container">
            <img class="avatar rounded-circle"  id="avatarPreview" alt="Avatar" src="/images/users/avatars/default/default-avatar.jpg">
            <span class="bi bi-arrow-right-circle avatar-arrow"></span>
			<img th:src="${#authentication.principal.avatar != null ? '/images/users/avatars/' + #authentication.principal.avatar : '/images/default/default-avatar.jpg'}" class="avatar rounded-circle" alt="Avatar">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Update Profile</button>
    </form>

    <div th:if="${errorMessage}" class="alert alert-danger mt-3" role="alert">
        <span th:text="${errorMessage}">Lỗi!</span>
    </div>
    <div th:if="${successMessage}" class="alert alert-success mt-3" role="alert">
        <span th:text="${successMessage}">Cập nhật thành công!</span>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrapt/5.2.0/js/bootstrap.bundle.min.js"></script>
<script>
    function previewAvatar(event) {
        var input = event.target;
        var reader = new FileReader();

        reader.onload = function() {
            var dataURL = reader.result;
            document.getElementById('avatarPreview').src = dataURL;
        };

        reader.readAsDataURL(input.files[0]);
    }
</script>
</body>
</html>