	<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Book Catalog</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
	
	<div>
	    <input type="text" id="author" placeholder="Enter author name">
	    <button onclick="searchByAuthor()">Search</button>
	</div>
	
	<div>
	    <select id="sortOption">
	        <option value="title">Sort by Title</option>
	        <option value="price">Sort by Price</option>
	    </select>
	    <button onclick="sortBy()">Sort</button>
	</div>
	
	<table id="bookTable">
	    <thead>
	        <tr>
	            <th>Title</th>
	            <th>Author</th>
	            <th>Price</th>
	        </tr>
	    </thead>
	    <tbody th:fragment="bookList">
	        <!-- Book list will be inserted here -->
	    </tbody>
	</table>
	
	<div>
	    <button onclick="goToPage(0)">First</button>
	    <button onclick="goToPage(prevPage)">Previous</button>
	    <button onclick="goToPage(nextPage)">Next</button>
	    <button onclick="goToPage(lastPage)">Last</button>
	</div>
	
	<script th:inline="javascript">
	    var currentPage = 0;
	    var prevPage = currentPage - 1;
	    var nextPage = currentPage + 1;
	    var lastPage = totalPages - 1;
	
	    /* Function to search books by author */
	    function searchByAuthor() {
	        var author = $("#author").val();
	        $.get("/books?author=" + author, function(data) {
	            $("#bookTable tbody").html(data);
	        });
	    }
	
	    /* Function to sort books */
	    function sortBy() {
	        var sortOption = $("#sortOption").val();
	        $.get("/books?page=" + currentPage + "&sort=" + sortOption, function(data) {
	            $("#bookTable tbody").html(data);
	        });
	    }
	
	    /* Function to navigate to specific page */
	    function goToPage(page) {
	        currentPage = page;
	        $.get("/books?page=" + currentPage, function(data) {
	            $("#bookTable tbody").html(data);
	        });
	    }
	</script>
	
	</body>
	</html>
